.url-header h2 {
  font-size: 2.5rem;
  font-weight: 500;
  text-transform: capitalize;
}

.search-layout {
  display: flex;
  gap: 5rem;
}

.search-results {
  display: grid;
}

.filter {
  max-width: 250px;
  width: 100%;
  border: 1px solid rgb(170, 170, 170);
  padding: 1.5rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.filter-part {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-bottom: 1.5rem;
}

.input-box {
  input {
    margin-right: 0.5rem;
    cursor: pointer;
  }
}

//GridControl

.grid-control-container {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 2.5rem;
}

.grid-template-control {
  display: flex;
  gap: 1rem;

  button {
    @include primary-button(#fff);
    padding: 0.5rem;
    border: 2px solid $metal-black;
    border-radius: 0;

    &.active {
      background: $metal-black;

      svg {
        color: white;
      }
    }

    span {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  svg {
    width: 25px;
    height: 25px;
    color: black;
  }

  select {
    padding-left: 0.5rem;
    width: 170px;
    font-size: 1rem;
    flex: 1;
  }
}

.grid-type {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 992px) {
  .filter {
    @include sidepanel(#fff);
  }
}
