.cart-icons {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;

  svg {
    cursor: pointer;
  }

  span {
    position: absolute;
    background-color: $cyan;
    color: white;
    text-align: center;
    width: 25px;
    height: 25px;
    border-radius: 9999px;
    bottom: -10px;
    right: -5px;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.cart-preview {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 200;
  border: 2px solid rgb(172, 172, 172);
  background-color: #fff;
  padding: 1rem 0.5rem 1rem 1rem;
  width: 300px;

  .container {
    max-height: 400px;
    overflow-x: hidden;
    margin: 1rem 0rem;
  }
}

.cart-header {
  display: flex;
  justify-content: space-between;

  .close-icon {
  }

  svg {
    @include icon-close-hover;
  }
}

.cart-item-container {
  display: flex;
  gap: 1.5rem;
  padding-bottom: 1.5rem;
  img {
    max-width: 70px;
    width: 100%;
    object-fit: contain;
    height: 80px;
  }
}

.cart-item-info {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-right: 0.5rem;
  width: 100%;
  a {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
    color: $metal-black;
  }
}

.cart-item-amount {
  display: flex;
  gap: 0.5rem;
  align-items: center;

  svg {
    width: 25px;
    height: 25px;
    color: gray;

    &:hover:nth-of-type(1) {
      color: $cancel-red;
    }

    &:hover:nth-of-type(2) {
      color: $deep-blue;
    }
  }
}

.cart-item-action {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;

  input {
    width: 50px;
    padding: 0.5rem 0.5rem;
  }
}

.cart-footer {
  padding-top: 1rem;
  border-top: 1px solid rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1rem;
  button {
    padding: 0.5rem 1.2rem;
  }
}

.cart-total {
  display: flex;
  justify-content: space-between;
}

.cart-page-item {
  display: grid;
  align-items: center;
  text-align: start;
  grid-template-columns: 1fr 2fr 1fr 1fr;
  gap: 1rem;
  margin-bottom: 2rem;

  img {
    width: 100px;
    height: 100px;
    object-fit: contain;
  }
}

.cart-page-header {
  margin-bottom: 2rem;
  h2 {
    border-bottom: 2px solid $deep-blue;
    padding-bottom: 1rem;
  }
}

.cart-page-content {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 3rem;
}

.cart-page-summary {
  max-width: 300px;
  background-color: #f4f4f4;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  height: auto;

  h3 {
    width: 100%;
    border-bottom: 2px solid $deep-blue;
    padding-bottom: 0.5rem;
  }
}

.summary-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.summary-button {
  @include primary-button($deep-blue);
  padding: 0.5rem 1.5rem;
}

@media (max-width: 768px) {
  .cart-page-content {
    grid-template-columns: 1fr;
  }
  .cart-page-summary {
    max-width: none;
  }
}

.cart-page-price-control {
  display: flex;
  gap: 2rem;
}

@media (max-width: 600px) {
  .cart-page-item {
    grid-template-areas:
      "product title"
      "product price "
      "product control";
    grid-template-columns: 1fr 2fr;
    gap: 0.5rem;
  }

  .cart-page-item img {
    grid-area: product;
  }

  .cart-page-item h4 {
    grid-area: title;
  }

  .cart-page-product-price {
    grid-area: price;
  }
  .cart-page-price-control {
    grid-area: control;
  }
}
