$poppins: "Poppins", sans-serif;
$yellow: #ffc800;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: $poppins;
}

.container-md {
  max-width: 1200px;
  margin: 0 auto;
}

@import "./variables";
@import "navigation.scss";
@import "./hero";
@import "./product-showcase";
