$poppins: "Poppins", sans-serif;
$yellow: #ffc800;
$ice-blue: #34e5ff;
$deep-blue: #4f7cac;
$metal-black: #162521;
$cancel-red: #f52626;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: $poppins;
}

.container-md {
  max-width: 1200px;
  margin: 0 auto;
}

section,
footer {
  padding: 3rem 1rem;
}

.discount-span {
  color: gray;
  margin-right: 0.5rem;
  font-size: 1rem;
  text-decoration: line-through;
}

.breadcrumbs {
  display: flex;
  gap: 1rem;
  padding: 0rem 0rem 2rem 0rem;

  .crumb {
    text-transform: capitalize;
    font-style: italic;

    a {
      text-decoration: none;
      color: $metal-black;
    }

    &::after {
      content: ">";
      margin-left: 15px;
    }

    &:last-child::after {
      display: none;
    }
  }
}

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #9e9e9e;
  -webkit-border-radius: 1ex;
}

@import "./variables";
@import "./navigation.scss";
@import "./hero";
@import "./product-showcase";
@import "./services";
@import "./footer";
@import "./product-page.scss";
@import "./cart";
