nav {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0rem;
}

ul {
  display: flex;
  gap: 3rem;
  list-style: none;
  font-size: 1.1rem;

  li {
    display: flex;
    align-items: center;
  }
}

.nav-actions {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.search-bar {
  display: flex;
  justify-content: space-between;
  padding: 0.2rem 1rem;
}

.search-active {
  border-radius: 25px;
  align-items: center;
  background-color: #f9f9f9;
  gap: 0.5rem;
  transition: all 0.5s ease-in;

  input {
    max-width: 150px;
    border: none;
    background: none;
    padding: 0.3rem;
    transition: all 0.5s ease-in;
  }
}
